<div class="row">
  <div class="col-md-3">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Consulta</h5>
        <form [formGroup]="form">
          <div class="row g-2 mb-3">
<!-- tipo -->
            <select
                    (change)="invalidadFecha($event)"
                    class="form-select"
                    formControlName="tipo"
                    [class.is-invalid]="form.controls.tipo.touched && form.controls.tipo.invalid && form.invalid"
                    required
                    >
              <option value="seccion">Seccion</option>
              <!-- <option value="localidad">Localidad</option> -->
              <option value="todo">Todo</option>
            </select>
<!-- seccion -->
            <select
                    *ngIf="form.value.tipo !== 'todo'"
                    class="form-select"
                    formControlName="seccion"
                    >
              <option *ngFor="let item of secciones" [value]="item.id">{{item.id}}</option>
              <!-- <option value="localidad">Localidad</option> -->
              <!-- <option value="todo">Todo</option> descomentar para activar esta opcion -->
            </select>
<!-- fecha de inicio -->
            <div class="col">
              <input type="date" class="form-control" formControlName="fechaInicio">
            </div>
<!-- fecha final -->
            <div class="col">
              <input type="date" class="form-control" formControlName="fechaFinal">
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-success" type="button" (click)="enviarFormulario()">Consultar</button>
            <button (click)="descargarEcxel()" *ngIf="lstPersonas.length > 0" class="btn btn-warning" type="button">Descargar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div *ngIf="lstPersonas.length > 0" class="chart">
      <div class="row">
        <h4>Total: {{lstPersonas.length}}</h4>
      </div>
      <div class="row">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
      </div>
    </div>
    <div>
      <!-- <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button> -->
    </div>
  </div>
</div>
